/*字体颜色*/
.lud-cmcc-red {
	color: #900;
}

.lud-cmcc-redl {
	color: #A00;
}

.lud-cmcc-redd {
	color: #700;
}

.lud-cmcc-blu {
	color: #369;
}

.lud-cmcc-blul {
	color: #09c;
}

.lud-cmcc-blud {
	color: #069;
}

.lud-cmcc-gre {
	color: #6c0;
}

.lud-cmcc-grel {
	color: #9c3;
}

.lud-cmcc-gred {
	color: #096;
}

.lud-cmcc-org {
	color: #F60;
}

.lud-cmcc-orgl {
	color: #F93;
}

.lud-cmcc-orgd {
	color: #C60;
}

.lud-cmcc-pur {
	color: #93C;
}

.lud-cmcc-purl {
	color: #CCF;
}

.lud-cmcc-purd {
	color: #939;
}

.lud-cmcc-gray {
	color: #999;
}

.lud-cmcc-grayl {
	color: #CCC;
}

.lud-cmcc-grayd {
	color: #666;
}

.lud-cmcc-white {
	color: #EEE;
}

.lud-cmcc-whitel {
	color: #FFF;
}

.lud-cmcc-whited {
	color: #DDD;
}

.lud-cmcc-bla {
	color: #333;
}

.lud-cmcc-blal {
	color: #555;
}

.lud-cmcc-blad {
	color: #000;
}
/*背景颜色*/
.lud-cmcb-red {
	background: #900;
}

.lud-cmcb-redl {
	background: #C00;
}

.lud-cmcb-redd {
	background: #500;
}

.lud-cmcb-blu {
	background: #369;
}

.lud-cmcb-blul {
	background: #09C;
}

.lud-cmcb-blud {
	background: #069;
}

.lud-cmcb-bludd {
	background: #50697d;
}

.lud-cmcb-gre {
	background: #6C0;
}

.lud-cmcb-grel {
	background: #9C3;
}

.lud-cmcb-gred {
	background: #096;
}

.lud-cmcb-org {
	background: #F60;
}

.lud-cmcb-orgl {
	background: #F93;
}

.lud-cmcb-orgd {
	background: #C60;
}

.lud-cmcb-pur {
	background: #93C;
}

.lud-cmcb-purl {
	background: #CCF;
}

.lud-cmcb-purd {
	background: #939;
}

.lud-cmcb-gray {
	background: #999;
}

.lud-cmcb-grayl {
	background: #CCC;
}

.lud-cmcb-grayd {
	background: #666;
}

.lud-cmcb-white {
	background: #EEE;
}

.lud-cmcb-whitel {
	background: #FFF;
}

.lud-cmcb-whited {
	background: #DDD;
}

.lud-cmcb-bla {
	background: #333;
}

.lud-cmcb-blal {
	background: #555;
}

.lud-cmcb-blad {
	background: #000;
}

.lud-cmcb-cus1 {
	background-color: #303643;
}
.lud-cmcb-cus2 {
    background-color: #646f85;
}
.lud-cmcb-cus3 {
    background-color: #035b66;
}
.lud-cmcb-info {
	background-color: #fcf4d3;
}