.lud-lycm-fl {
    float: left;
}

.lud-lycm-fr {
    float: right;
}

.lud-lycm-cr {
    clear: right;
}

.lud-lycm-cl {
    clear: left;
}

.lud-lycm-cb {
    clear: both;
}

.lud-lyds-il {
    display: inline-block;
}

.lud-lyds-bl {
    display: block;
}

.h {
    display: none;
}

.lud-lyps-md {
    margin: 0 auto;
}

.lud-lyps-full {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.lud-lyps-rf {
    width: 100%;
    height: 100%;
}
