/*通用*/
html {
    font-size: 10px;
}
.color-pur {
    background-color:#045a85;
}
body {
    background-color: #F1F1F1;
    font-size: 1.4rem;
    font-family: Calibri,"微软雅黑","宋体";
    min-width: 120rem;
}

.lud-lyps-md {
    width: 120rem;
}

.lud-ele-menu-top div.icon {
    padding-right: 0.5rem;
    font-size: 3.2rem;
    line-height: 3.5rem;
}
/*用户卡片*/
.lud-view-card .title {
    padding-bottom: 2rem;
    padding-top: 2.5rem;
    background-color: #045a85;
    padding-left: 2rem;
    color: #fff;
    height: 8rem;
}

.lud-view-card .title .main {
    border-left: 1rem solid #fdbb03;
    padding-left: 1.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    display: block;
    border-top-left-radius: 0.4rem;
}

.lud-view-card .title .sub {
    border-left: 1rem solid #057fda;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    display: block;
    border-bottom-left-radius: 0.4rem;
}

.lud-view-card .card {
    padding-left: 2rem;
}

.lud-view-card .card .pic {
    width: 9rem;
    height: 9rem;
    overflow: hidden;
    border-radius: 9rem;
    float: left;
    margin-top: 0.4rem;
}

.lud-view-card .card .content {
    margin-left: 10rem;
    border-left: 1px dashed #ddd;
    padding-left: 1rem;
}

.lud-view-card .actions {
    padding-left: 2rem;
    margin-top: 1rem;
    height: 2.2rem;
}

.lud-view-card .actions li {
    float: left;
    margin-right: 1.1rem;
    border: 1px solid #303643;
    color: #303643;
    padding: 1rem 1.3rem;
    cursor: pointer;
    border-radius: 0.3rem;
}

.lud-view-card .actions li:hover {
    background-color: #303643;
    color: #fff;
}

.lud-view-card .actions li:last-child {
    margin: 0;
}
.lud-comp-iconmenu li.actived.item_4 {
    background-color: #045a85;
    border: 1px solid #045a85;
}
.lud-comp-nav-workspace-classic div.icon {
    cursor: pointer;
    background-color: #045178;
}